.page-header {
    background: $off-white;
    margin-bottom: $s-size;
    padding: $s-size 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 0 $l-size 0;
        padding: $l-size 0;
    } 
}

.page-header__actions {
    margin: $m-size $s-size $s-size 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }    
}

.page-header__actions-group {
    display: flex;
    margin-top: $s-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}